.page {
    max-width: 1280px;
    min-width: 320px;
    margin: 28px auto 24px auto;
    font-family: "Inter", "Arial", sans-serif;
    background-color: #2a2c2f;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media (max-width: 320px) {
    .page {
        margin-top: 16px;
    }
}